<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.directwebremoting.org/schema/spring-dwr
    	http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 静态资源不拦截  -->
	<mvc:default-servlet-handler />
	<!-- 静态资源不拦截, 重定向资源文件访问路径  -->
	<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"/>
    
    <!-- FreeMarker模板配置 -->
   	<bean id="resourceBundleViewResolver" 
		class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
    	<property name="order" value="0"/>
    	<property name="defaultParentView" value="freeMarkerView"></property>
	</bean>
	
	<!-- freemarker config -->
	<bean id="freemarkerConfig" 
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
	    <property name="templateLoaderPath" value="/WEB-INF/content/"/>
	</bean>

	<!--
	View resolvers can also be configured with ResourceBundles or XML files. If you need
	different view resolving based on Locale, you have to use the resource bundle resolver.
	-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	    <property name="cache" value="true"/>
	    <property name="prefix" value=""/>
	    <property name="suffix" value=".ftl"/>
	</bean>
	
    <mvc:interceptors>
	    <mvc:interceptor>
	        <mvc:mapping path="/**"/>
	        <!-- 登录页面不拦截 -->
	        <mvc:exclude-mapping path="/login.html" />
	        <!-- 静态资源文件不拦截 -->
	        <mvc:exclude-mapping path="/resources/**" />
	        <bean class="net.rytong.admin.common.interceptor.LoginInterceptor" />
	    </mvc:interceptor>
	    
	    <mvc:interceptor>
	        <mvc:mapping path="/**"/>
	        <!-- 静态资源文件不拦截 -->
	        <mvc:exclude-mapping path="/resources/**" />
	        <bean class="net.rytong.admin.common.interceptor.ApiVisitRecoredInterceptor" />
	    </mvc:interceptor>
	</mvc:interceptors>
</beans>